{% extends 'base3.html' %}

{% block content %}
<div class="collapse navbar-collapse">
	<h4>Neural Network Testing Parameters</h4>
	<div class="row">
	<ul class="nav navbar-nav navbar-left">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-move">Epochs</i>
				<b class="caret"></b>
				<span class="notification" id="epochs"> 5000</span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#" onclick='selectEpoch(1000)'>1000</a></li>
				<li><a href="#" onclick='selectEpoch(5000)'>5000</a></li>
				<li><a href="#" onclick='selectEpoch(10000)'>10000</a></li>
				<li><a href="#" onclick='selectEpoch(20000)'>20000</a></li>
				<li><a href="#" onclick='selectEpoch(30000)'>30000</a></li>
				<li><a href="#" onclick='selectEpoch(40000)'>40000</a></li>
				<li><a href="#" onclick='selectEpoch(50000)'>50000</a></li>
				<li><a href="#" onclick='selectEpoch(60000)'>60000</a></li>				
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-move">Layers</i>
				<b class="caret"></b>
				<span class="notification" id="layers"> 3</span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#" onclick='selectLayers(1)'>1</a></li>
				<li><a href="#" onclick='selectLayers(2)'>2</a></li>
				<li><a href="#" onclick='selectLayers(3)'>3</a></li>
				<li><a href="#" onclick='selectLayers(4)'>4</a></li>
				<li><a href="#" onclick='selectLayers(5)'>5</a></li>
				<li><a href="#" onclick='selectLayers(6)'>6</a></li>
				<li><a href="#" onclick='selectLayers(7)'>7</a></li>
				<li><a href="#" onclick='selectLayers(8)'>8</a></li>				
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-move">Activation Function</i>
				<b class="caret"></b>
				<span class="notification" id="function"> tanh</span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#" onclick='selectFunction("logistic")''>logistic</a></li>
				<li><a href="#" onclick='selectFunction("tanh")'>tanh</a></li>			
			</ul>
		</li>
	    <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-move">Save Results?</i>
				<b class="caret"></b>
				<span class="notification" id='save'>False</span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#" onclick='selectSave("False")'>False</a></li>
				<li><a href="#" onclick='selectSave("True")'>True</a></li>			
			</ul>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li>
			<a href="#" id='run'>
				Run
			</a>
		</li>
	</ul>
	</div>
</div>
<div id='container'>
	<div id='row'>
		<h4>Neural Network Chart</h4>
		<div id='chart'></div>	
		<div id='chart1'></div>	
	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
	var filter = 'ann'
	var ep_tests = {{epoch_tests}};
	var ep_pred = {{epoch_predictions}};

	var ly_tests = {{layer_tests}};
	var ly_pred = {{layer_predictions}};

	var epochs = '5000'
	var layers = '3'
	var afunction = 'tanh'
	var save = 'no'

	function selectEpoch(value) {
		$('#epochs').html(value);
		epochs = value;
	}

	function selectLayers(value) {
		$('#layers').html(value);
		layers = value;
	}

	function selectFunction(value) {
		$('#function').html(value);
		afunction = value
	}
	function selectSave(value) {
		$('#save').html(value);
		save = value
	}


	$("#run").click(function() {
	url  = '{% url 'ann' %}?layers='+layers+'&epochs='+epochs+'&function='+afunction+'&test='+save+'&format=json'
	$.ajax({
    url: url,
    type: 'get', // This is the default though, you don't actually need to always mention it
    success: function(data) {
        console.log(data);
    	ep_tests = data.epoch_tests;
		ep_pred = data.epoch_predictions;

		ly_tests = data.layer_tests;
		ly_pred = data.layer_predictions;
		createannchart();
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
	}); 
	});
</script>
{% endblock %}