{% extends 'base3.html' %}

{% block content %}
<div class="collapse navbar-collapse">
	<h4>Neural Network Testing Parameters</h4>
	<ul class="nav navbar-nav navbar-left">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-move"></i>
				<b class="caret"></b>
				<span class="notification">Epochs</span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">1000</a></li>
				<li><a href="#">5000</a></li>
				<li><a href="#">10000</a></li>
				<li><a href="#">20000</a></li>
				<li><a href="#">30000</a></li>
				<li><a href="#">40000</a></li>
				<li><a href="#">50000</a></li>
				<li><a href="#">60000</a></li>				
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-move"></i>
				<b class="caret"></b>
				<span class="notification">Layers</span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
				<li><a href="#">7</a></li>
				<li><a href="#">8</a></li>				
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-move"></i>
				<b class="caret"></b>
				<span class="notification">Activation Function</span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">logistic</a></li>
				<li><a href="#">tanh</a></li>			
			</ul>
		</li>
	    <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-move"></i>
				<b class="caret"></b>
				<span class="notification">Save Results?</span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">No</a></li>
				<li><a href="#">Yes</a></li>			
			</ul>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li>
			<a href="#">
				Run
			</a>
		</li>
	</ul>
</div>
<div id='container'>
	<div id='row'>
		<h4>Neural Network Chart</h4>
		<div id='chart'></div>	
		<div id='chart1'></div>	
	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
	var filter = 'ann'
	var ep_tests = {{epoch_tests}};
	var ep_pred = {{epoch_predictions}};

	var ly_tests = {{layer_tests}};
	var ly_pred = {{layer_predictions}};
</script>
{% endblock %}